<!DOCTYPE html>
<html>
  <head>
    <title>Ajaxpractice</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="body" style="margin: 10px;">
    <%= link_to("jquery 练习1", jquery_1_path )%>
    <%= link_to("jquery 练习2", jquery_2_path )%>
    <%= link_to("jquery 练习3", jquery_3_path )%>
    <%= link_to("jquery 练习4", jquery_4_path )%>
    <%= link_to("jquery 练习5", jquery_5_path )%>
    <%= yield %>
  </body>
</html>
