<!DOCTYPE html>
<html>
  <head>
    <title>Ajaxpractice</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="body" style="margin: 10px;">
    <% if flash[:notice] %>
      <%= flash[:notice] %>
    <% end %>
    <% if flash[:alert] %>
      <%= flash[:alert] %>
    <% end %>
    <% if current_user %>
      <%= link_to('登出', destroy_user_session_path, :method => :delete)%>
      <%= link_to('修改密码', edit_registration_path(:user))%>
    <% else %>
      <%= link_to('注册', new_registration_path(:user))%> |
      <%= link_to('登入', new_session_path(:user))%>
    <% end %>
    <%= link_to("jquery 练习1", jquery_1_path )%>
    <%= link_to("jquery 练习2", jquery_2_path )%>
    <%= link_to("jquery 练习3", jquery_3_path )%>
    <%= link_to("jquery 练习4", jquery_4_path )%>
    <%= link_to("jquery 练习5", jquery_5_path )%>
    <%= link_to("jquery 练习6", jquery_6_path )%>
    <%= link_to("jquery 练习7", jquery_7_path )%>
    <%= yield %>
  </body>
</html>
